@import "@/styles/_variables";

.main {
  position: relative;

  display: grid;
  grid-template-rows: auto;
  grid-column-gap: $padding-400;
  grid-row-gap: $padding-1000;

  width: 100%;
  height: auto;

  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 800px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1600px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
